.banner {
  display: flex;
  color: $whiteFont;
  height: 50vh;
  align-items: center;
  justify-content: space-around;

  @include media(">phone", "<=tablet") {
    flex-direction: column;
    height: inherit;
    justify-content: inherit;
    &__left {
      padding-top: 2vh;
    }
    &__right {
      height: inherit;
    }
  }

  @include media("<=phone") {
    flex-direction: column;
    height: inherit;
    justify-content: inherit;
    &__left {
      padding-top: 2vh;
      &__name {
        padding-left: 2vw;
        .animate-letters {
          font-size: 2rem !important;
        }
      }
      &__title {
        font-size: 1.5rem !important;
      }

      &__description {
        width: auto !important;
      }
    }
    &__right {
      height: inherit;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    &__name {
      display: flex;
      .animate-letters {
        display: flex;
        margin-right: 1vw;
        font-size: 3rem;
        overflow: hidden;
      }
    }
    &__title {
      display: flex;
      overflow: hidden;
      font-size: 2rem;
      padding-left: 8vw;
    }
    &__description {
      width: 400px;
      padding-left: 5vw;
      padding-top: 3vh;
    }
  }
  &__right {
    height: 50vh;
    img {
      object-fit: cover;
      height: 80%;
      padding-top: 10%;
    }
  }
}
