.navBarHome {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;

  @include media(">phone", "<=tablet") {
    height: inherit;
    .logo__container {
      padding-bottom: 10vh;
      svg {
        height: 10vh !important;
      }
    }
  }

  @include media("<=phone") {
    height: inherit;
    .logo__container {
      padding-bottom: 10vh;
      svg {
        height: 8vh !important;
      }
    }
  }

  .logo__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    svg {
      display: block;
      height: 20vh;
      overflow: visible;
    }
    a {
      display: block;
      text-decoration: none;
      font-size: 2rem;
      position: relative;
      cursor: pointer;
      color: $whiteFont;
      margin-bottom: 20px;

      &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        display: block;
        margin-top: 5px;
        right: 0;
        background: $whiteFont;
        transition: 0.4s ease;
      }
      &:hover {
        &:after {
          width: 100%;
          left: 0;
          background: $whiteFont;
        }
      }
    }
  }
}
