.navBar {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  top: 30px;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  color: $blackHome;
  font-weight: 400;
  @include screen-Laptop4K {
    font-size: 2rem;
  }
  .activeNav {
    transition: all 0.1s ease-in-out;
  }
  .activeNav:hover {
    transform: scale(1.2);
  }
  .noHover:hover {
    transform: inherit;
  }
}
