.aboutPage {
  background-image: url("../../assets/photos/reunion.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media("<=tablet") {
    &__card {
      font-size: 1.2rem !important;
      width: 50vw !important;
    }
    &__container div:nth-child(1) {
      top: 45vh !important;
      right: 20vw !important;
    }
    &__container div:nth-child(2) {
      top: 65vh !important;
      right: 10vw !important;
    }
    &__container div:nth-child(3) {
      top: 25vh !important;
      left: 10vw !important;
      color: black;
    }
  }

  @include media("<=phone") {
    &__card {
      font-size: 1.2rem !important;
      width: 50vw !important;
    }
    &__container div:nth-child(1) {
      top: 44vh !important;
      right: 20vw !important;
    }
    &__container div:nth-child(2) {
      top: 70vh !important;
      right: 10vw !important;
    }
    &__container div:nth-child(3) {
      top: 15vh !important;
      left: 10vw !important;
      color: black;
    }
  }
  &__card {
    font-size: 1.5rem;
    width: 20vw;
    cursor: grab;
    color: white;
    padding: 1vw;
    text-align: center;
    height: auto;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}
